<h1>Triangle Type!</h1>
<form action="/triangle">
  <div class ="form-group">
    <label for="a" class="label-text">Enter side A:</label>
    <input type="text" id="a" name="a" class="form-control">
    <label for="b" class="label-text">Enter side B:</label>
    <input type="text" id="b" name="b" class="form-control">
    <label for="c" class="label-text">Enter side C:</label>
    <input type="text" id="c" name="c" class="form-control">
  </div>
<button class="btn-success" type="submit">Triangulate!</button>
</form>
